NEXT_PUBLIC_SUPABASE_URL=https://nqjrfuqskpwxypdsjgte.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5xanJmdXFza3B3eHlwZHNqZ3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5MzAzMjQsImV4cCI6MjA4ODUwNjMyNH0.YRfFRFI6upcNG7xvGxFVzlWickX_cfQYri4adylVKdI